/* Contact.css */

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; /* Add your desired background color */
    padding: 20px; /* Add padding for better readability */
  }
  
  .contact-info, .business-info {
    margin-bottom: 30px;
  }
  
  .contact-info h2, .business-info h2 {
    font-size: 24px;
    color: #1a1e52;
    margin-bottom: 10px;
  }
  
  .contact-info p, .business-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .contact-info ul, .business-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info ul li, .business-info ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-info ul li:last-child, .business-info ul li:last-child {
    margin-bottom: 0;
  }
 
  .contact-container h1 { 
    font-size: 42px; /* Adjust the font size */
    margin-bottom: 20px; /* Add some bottom margin */
    font-weight: bolder;
    text-align: center;
  }